<launch>
  <!--启动的节点-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server"> 

     <!--栅格分辨率-->
    <param name="resolution" value="0.05" />
    
    <!--世界坐标系话题，一般为map-->
    <param name="frame_id" type="string" value="/map" />
 
    <param name="sensor_model/max_range" value="1000.0" />
    <param name="latch" value="true" />
 
     <!--截取的三维点云范围--> 
    <param name="pointcloud_max_z" value="1.2" />
    <param name="pointcloud_min_z" value="-0.5" />
 
    <param name="graound_filter_angle" value="3.14" />
    
     <!--订阅的点云消息名称 PointClout2，即上一步发布出来的点云topic--> 
     <!-- cloud_in是octomap默认的输入话题，做一下映射-->
    <remap from="/cloud_in" to="/lio_sam/mapping/cloud_registered" />
  </node>
 
</launch>
